:root{  
    --bg-color: #132043;
    --second-bg-color: #2b3467;
    --text-color: #fcffe7;
    --text-color2: rgba(197, 196, 196, 0.748);
    --main-color: #fedb39;
    --glass-color: rgba(108, 108, 108, 0.135);

    --font-family: 'Fredoka', sans-serif;;
    --box-shadow: 0 1em 3em 0.4em rgba(0, 0, 0, 0.193);
    --boder-radiues: 1em;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}


body{
    background: var(--bg-color);
    color: var(--text-color);
    width: 80%;
    margin: 5em auto;
}

h1{
    font-size: 3em;
}

i{
    font-size: 1.3em;
    color: var(--main-color);
    padding-right: 0.5em;
}

p{
    color: var(--text-color2);
}

hr{
    width: 100%;
    border: 0.12em solid var(--main-color);
    border-radius: var(--boder-radiues);
    opacity: 0.4;
    margin:0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.welcome-section span{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.4em; 
}

.statistic-section, .news-section, .announcements-section{
    display: flex;
    flex-direction: column;
    padding:  1em 4em;
    background-color: var(--glass-color);   
    border-radius: var(--boder-radiues);
}

.news-section h3, .announcements-section h3{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 0.1em;
     
}

.title> h2{
    font-size: 2em;
    margin: 1em 0 0.6em 0 ;
}

.cards{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.3em;
    flex-wrap: wrap;
    padding: 3em;   
}

.cards > div:hover{
    transform: scale(1.05);
    transition: all 0.5s;
    border: 0.2em solid var(--main-color);
}

/* Statistic Section */
.statistic-section > .statistic-cards > .statistic-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: var(--second-bg-color);
    padding:  2em 1em 2em 2em;
    box-sizing: border-box;
    border-radius: var(--boder-radiues);
    box-shadow: var(--box-shadow);
}


.statistic-section > .statistic-cards > .statistic-card > .left{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.statistic-section > .statistic-cards > .statistic-card > .left *{
    margin: 0;
}

.statistic-section > .statistic-cards > .statistic-card > .left h1{
    font-size: 2em;
    color: var(--text-color2);
}


.statistic-section > .statistic-cards > .statistic-card > .right > #progress{
    width:8em;
    height: 0.5em;
    background-color: var(--bg-color);
    border-radius: 0.5em;
    opacity: 0.5;
    margin: 1em 0;
}

.statistic-section > .statistic-cards > .statistic-card > .right > #progress > #bar{
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 0.5em;
}

/* News Section */
.news-section > .news-cards > .news-card{
    display: flex;
    flex-direction: column;
    background-color: var(--second-bg-color);
    padding: 2em;
    box-sizing: border-box;
    border-radius: var(--boder-radiues);
    gap: 1em;
    box-shadow: var(--box-shadow);
    width: 25em;
}

.news-section > .news-cards > .news-card > .top > img{
    width: 100%;
    border-radius: var(--boder-radiues);
    object-fit: contain;
}

/* announcements */
.announcements-section > .announcement-cards > .announcement-card{
    background-color: var(--second-bg-color);
    padding: 1em 1.3em;
    box-sizing: border-box;
    border-radius: var(--boder-radiues);    
}



/* Modal */
.modal{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--glass-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(0.5em);
}

.modal-content{
    background-color: var(--second-bg-color);
    padding: 1.5em 3em;
    border-radius: var(--boder-radiues);   
}

.modal-content > .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.modal-content > .modal-header h2{
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.6em; 
}

.modal-content > .modal-header .close{
    font-size: 2em;
    color: var(--main-color);
    cursor: pointer;
}

.modal-content > .modal-body{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
